<div class="px-3 py-2 text-bg-dark border-bottom">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
              <img class="bi me-2" width="40" height="32" role="img" aria-label="md2pdf" style="filter: invert(100%)" src="{{ url_for('static', filename='bootstrap-icons/p-square-fill.svg') }}" />
          </a>

          <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
            <li>
              <a href="/" class="nav-link text-white">
                <img class="bi d-block mx-auto mb-1" style="filter: invert(100%)" width="24" height="24" src="{{ url_for('static', filename='bootstrap-icons/house-door-fill.svg') }}" />
                Accueil
              </a>
            </li>
            <li>
              <a href="/guide" class="nav-link text-white">
                <img class="bi d-block mx-auto mb-1" style="filter: invert(100%)" width="24" height="24" src="{{ url_for('static', filename='bootstrap-icons/info-square-fill.svg') }}" />
                Guide
              </a>
            </li>
            <li>
              <a href="/templates" class="nav-link text-white">
                <img class="bi d-block mx-auto mb-1" style="filter: invert(100%)" width="24" height="24" src="{{ url_for('static', filename='bootstrap-icons/markdown-fill.svg') }}" />
                Templates
              </a>
            </li>
            <li>
              <a href="/convert" class="nav-link text-white">
                <img class="bi d-block mx-auto mb-1" style="filter: invert(100%)" width="24" height="24" src="{{ url_for('static', filename='bootstrap-icons/journal-bookmark-fill.svg') }}" />
                Conversion
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
